<!DOCTYPE html>
<html>
  <head>
    <title>Yach - <%= title %></title>
  </head>
<body>

<form action="/api/v1/calendar" method="post" enctype="multipart/form-data">
  <h2>Create a new Calendar</h2>
  <label>Upload calendar : </label><input type="file" name="file" id="file" /><br>
  <label>Calendar type : </label>
  <select name="type">
    <option value="PERSONAL">Personal</option>
    <option value="PROFESSIONAL">Professional</option>
    <option value="OTHER">Other</option>
  </select><br>
  <label>Calendar name : </label><input type="text" name="name" id="name" /><br>

  <h2>Select your calendars :</h2>
  <% if (calendars.length === 0) { %>
    <p>Don't have calendars available</p>
  <% } else { %>
    <h3>Epistec team</h3>
    <% calendars.forEach(function(calendar) { %>
        <% if (calendar.type == 'PERSONAL') { %>
          <input type="checkbox" id="<%= calendar.id %>" name="calendars" value="<%= calendar.id %>">
          <label for="<%= calendar.id %>"><%= calendar.name %></label><br>
        <% } %>
    <% }); %>

    <h3>Epsitec calendar</h3>
    <% calendars.forEach(function(calendar) { %>
        <% if (calendar.type == 'PROFESSIONAL') { %>
          <input type="checkbox" id="<%= calendar.id %>" name="calendars" value="<%= calendar.id %>">
          <label for="<%= calendar.id %>"><%= calendar.name %></label><br>
        <% } %>
    <% }); %>
  <% } %>

  <h3>Shared Calendars</h3>
  <% if (sharedCalendars.length <= 0) { %>
    <p>Don't have shared calendars available</p>
  <% } else { %>
  <% sharedCalendars.forEach(function(sharedCalendar) { %>
        <input type="checkbox" id="<%= sharedCalendar.id %>" name="calendars" value="<%= sharedCalendar.id %>">
        <label for="<%= sharedCalendar.id %>"><%= sharedCalendar.name %></label><br>
  <% }); %>
  <% } %>
  <br />
  <input type="submit" value="Submit">
</form>

</body>
</html>
